.footer {
    padding: 30px 0 20px;
    // .footer__container
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 30px;
    }
    // .footer__logo
    &__logo {
        flex: 0 0 35px;
        max-width: 35px;
        img {
            width: 100%;
            display: block;
        }
        @media (max-width: 768px) {
            flex: 0 0 20px;
            max-width: 20px;
        }
    }
    // .footer__menu
    &__menu {
        display: block;
    }
    // .footer__list
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 768px) {
            gap: 10px;
        }
    }
    // .footer__item
    &__item {
        font-size: 12px;
    }
    // .footer__link
    &__link {
        position: relative;
        color: #000;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: all 0.3s;
        }
        &:hover {
            &:after {
                width: 100%;
                right: initial;
                left: 0;
            }
        }
    }
}
